
.ItemListContainer-section {
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: auto;
    background-color: #f3b9a0;
}

    .ItemListContainer-greeting {
        display: flex;
        justify-content: center;
        font-family: 'Roboto', sans-serif;
        font-size: 40px;
        font-weight: 300;
        color: #ffffff;
        width:auto;
    }

    .ItemListContainer-title {
        display: flex;
        justify-content: center;
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        font-weight: 200;
        color: #ffffff;
    }

    .ItemListContainer-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
    }